[Unit]
Description=A dynamic tiling Wayland compositor
BindsTo=graphical-session.target
Before=graphical-session.target
Wants=graphical-session-pre.target
After=graphical-session-pre.target

# Make sure we run the xdg autostart programs (generally used by software that provide an option
# like "Start on boot"/"Start on login") AFTER we have set WAYLAND_DISPLAY so that they pick up
# the compositor itself.
Wants=xdg-desktop-autostart.target
Before=xdg-desktop-autostart.target

[Service]
Slice=session.slice
Type=notify
ExecStart=/usr/bin/fht-compositor --session
