[Desktop Entry]
Name=fht-compositor (UWSM)
Comment=A dynamic tiling Wayland compositor
Exec=uwsm start -- fht-compositor.desktop
DesktopNames=fht-compositor
Type=Application
